.content-akademik {
    padding: 24px;
}

.content-akademik .col-3 {
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.content-akademik .col-9 {
    padding-left: 24px;
}

.video-teaser {
    text-align: center;
}

.banner-marketing {
    text-align: center;
}
